<!DOCTYPE html>
<html>
<head>
	<title>Paccoon</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/styles.css">
</head>
<body>
	<div id="wrapper">

		{{ content }}

	</div>
	<footer>
		<div class="container">
			<h2>Contact</h2>
			<address>
				Author, Tutor & Design - <a href="mailto:tadeusz.m.lewandowski@gmail.com">tadeusz.m.lewandowski@gmail.com</a>
			</adress>
			<address>
				Paccoon Logo Creator - <a href="mailto:dominika.ewa.pietrzak@gmail.com">dominika.ewa.pietrzak@gmail.com</a>
			</adress>
		</div>
	</footer>

</body>
</html>
